@charset "UTF-8";
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #eee;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: #21201e;
  color: #eee;
}

footer {
  background-color: url(../img/bg-footer.jpg) center/cover;
  text-align: left;
  padding: 65px 22px;
  color: #eee;
}
@media screen and (max-width: 680px) {
  footer {
    background: none;
  }
}
footer .footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 680px) {
  footer .footer-container {
    grid-template-columns: 1fr;
  }
}
footer .footer-container .left-part {
  padding-right: 60px;
  line-height: 30px;
}
@media screen and (max-width: 680px) {
  footer .footer-container .left-part {
    display: none;
  }
}
footer .footer-container .left-part h4 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 144, 69);
  margin-bottom: 15px;
}
footer .footer-container .right-part {
  padding-left: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
@media screen and (max-width: 680px) {
  footer .footer-container .right-part {
    padding-left: 20px;
  }
}
footer .footer-container .right-part h3 {
  font-size: 0.85rem;
}
footer .footer-container .right-part input {
  margin-top: 15px;
  background: none;
  border: 1px solid rgba(166, 114, 69, 0.151);
  padding: 7px 13px;
  width: 250px;
}
@media screen and (max-width: 680px) {
  footer .footer-container .right-part input {
    width: 150px;
  }
}
footer .footer-container .right-part .followus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-container .right-part .followus h3 {
  width: 30%;
}
@media screen and (max-width: 680px) {
  footer .footer-container .right-part .followus h3 {
    display: none;
  }
}
footer .footer-container .right-part .followus .icons {
  width: 70%;
}
footer .footer-container .right-part .followus .icons ul {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .footer-container .right-part .followus .icons ul i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .footer-container .right-part .followus .icons ul :hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  padding: 0 50px;
}
header nav {
  height: 12vh;
  display: grid;
  grid-template-columns: 10% 82% 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  header nav {
    grid-template-columns: 50% 10% 40%;
  }
}
header nav #logo {
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 2rem;
  text-align: left;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0 30px;
}
@media screen and (max-width: 680px) {
  header nav ul {
    visibility: hidden;
  }
}
header nav ul li {
  cursor: pointer;
}
header nav .icones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8rem;
}
header nav .icones i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
header nav .icones i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
header .text-header-container {
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .text-header-container .text-header {
  margin-top: -150px;
}
header .text-header-container .text-header h4 {
  font-family: Allura, cursive;
  font-size: 3rem;
  font-weight: 100;
  color: rgb(166, 144, 69);
}
header .text-header-container .text-header h1 {
  font-size: 3.2rem;
  letter-spacing: 10px;
  font-weight: 700;
  font-family: Poppins, serif;
  margin-top: -28px;
  text-transform: uppercase;
}
@media screen and (max-width: 680px) {
  header .text-header-container .text-header h1 {
    font-size: 2rem;
    margin-top: -15px;
  }
}
header .text-header-container .text-header img {
  height: 27px;
  margin: 32px 0;
}
header .text-header-container .text-header h6 {
  font-size: 0.75rem;
  letter-spacing: 6px;
  font-weight: 100;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #eee;
  color: #21201e;
}
@media screen and (max-width: 680px) {
  .section1 {
    grid-template-columns: 1fr;
  }
}
.section1 .section1-left {
  margin: 15px;
  padding: 30px 15px;
  border: 1px dashed rgb(166, 144, 69);
}
.section1 .section1-left h4 {
  color: rgb(166, 144, 69);
  font-family: Allura, cursive;
  font-size: 2rem;
  font-weight: 500;
}
.section1 .section1-left h2 {
  margin-top: -12px;
  font-family: Poppins, serif;
}
.section1 .section1-left img {
  margin: 26px;
}
.section1 .section1-left img:nth-of-type(2) {
  height: 70px;
  margin-bottom: 8px;
  border-radius: 150px;
}
.section1 .section1-left h3 {
  font-family: Poppins, serif;
  font-weight: 100;
}
.section1 .section1-left h5 {
  color: rgb(182, 182, 182);
  font-size: 0.7rem;
}
.section1 .section1-rigth {
  background: url(../img/store-01.jpg) center/cover;
}
@media screen and (max-width: 680px) {
  .section1 .section1-rigth {
    display: none;
  }
}

.section2 {
  color: #eee;
  padding-bottom: 100px;
  position: relative;
}
.section2::after {
  content: "";
  position: absolute;
  height: 620px;
  width: 100%;
  left: 50%;
  background: url(../img/bg-menu-01.jpg) center/cover;
  bottom: -330px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section2 h4 {
  color: rgb(166, 144, 69);
  font-size: 2rem;
  font-family: Allura, cursive;
  font-weight: 500;
  padding: 60px 0 30px;
}
.section2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: 30px auto;
  min-width: 500px;
}
@media screen and (max-width: 680px) {
  .section2 ul {
    min-width: 200px;
    font-size: 0.65rem;
    width: 90%;
  }
}
.section2 ul li {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-bottom: 8px;
}
.section2 .menu-card {
  background: white;
  color: #21201e;
  width: 85%;
  margin: 0 auto;
  max-width: 800px;
  border-top: 4px solid rgb(166, 144, 69);
  padding: 15px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 100;
  position: relative;
}
@media screen and (max-width: 680px) {
  .section2 .menu-card {
    grid-template-columns: 1fr;
  }
}
.section2 .menu-card .card-left > div,
.section2 .menu-card .card-rigth > div {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed rgb(182, 182, 182);
  padding: 30px 0;
  margin: 0 20px;
}
.section2 .menu-card .card-left > div span img,
.section2 .menu-card .card-rigth > div span img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}
.section2 .menu-card .card-left > div .text-menu,
.section2 .menu-card .card-rigth > div .text-menu {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  height: 100%;
}
.section2 .menu-card .card-left > div .text-menu h5,
.section2 .menu-card .card-rigth > div .text-menu h5 {
  text-transform: uppercase;
  color: #21201e;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.section2 .menu-card .card-left > div > p,
.section2 .menu-card .card-rigth > div > p {
  color: rgb(166, 144, 69);
  font-weight: 600;
}

.section3 {
  padding: 100px 15px 65px;
  color: #eee;
}
.section3 .section3-part1 {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #eee;
  max-width: 1850px;
  margin: 0 auto;
}
@media screen and (max-width: 850px) {
  .section3 .section3-part1 {
    grid-template-columns: 1fr;
  }
}
.section3 .section3-part1 .left-container {
  padding: 24px;
  background: black;
}
.section3 .section3-part1 .left-container .open-time {
  border: 1px dashed rgb(182, 182, 182);
  padding: 20px 0;
}
.section3 .section3-part1 .left-container .open-time h4 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 144, 69);
}
.section3 .section3-part1 .left-container .open-time h2 {
  font-family: Poppins, serif;
  margin-top: -16px;
  letter-spacing: 2px;
  font-size: 1.3rem;
}
.section3 .section3-part1 .left-container .open-time span img {
  margin-top: 25px;
}
.section3 .section3-part1 .left-container .open-time h3 {
  text-transform: uppercase;
  color: rgb(166, 144, 69);
  font-family: Poppins, serif;
  font-weight: 100;
  font-size: 1.1rem;
  margin: 38px 0 12px;
}
.section3 .section3-part1 .left-container .open-time p {
  font-size: 0.85rem;
  width: 90%;
}
.section3 .section3-part1 .rigth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.section3 .section3-part1 .rigth-container .container-reservation h4 {
  font-family: Allura, cursive;
  color: rgb(166, 144, 69);
  font-size: 2.5rem;
  font-weight: 100;
}
.section3 .section3-part1 .rigth-container .container-reservation h2 {
  font-family: Poppins, serif;
  color: #21201e;
  font-size: 1.8rem;
  margin-top: -18px;
}
.section3 .section3-part1 .rigth-container .container-reservation img {
  height: 25px;
  margin: 25px;
}
.section3 .section3-part1 .rigth-container .container-reservation form .form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}
@media screen and (max-width: 680px) {
  .section3 .section3-part1 .rigth-container .container-reservation form .form-inputs {
    grid-template-columns: 1fr;
  }
}
.section3 .section3-part1 .rigth-container .container-reservation form .form-inputs > * {
  padding: 10px 0;
  margin: 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
}
.section3 .section3-part1 .rigth-container .container-reservation form button {
  border: none;
  border-radius: 50px;
  background-color: #21201e;
  color: #eee;
  padding: 16px 34px;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: ponter;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 680px) {
  .section3 .section3-part1 .rigth-container .container-reservation form button {
    padding: 5px 15px;
    font-size: 0.6rem;
  }
}
.section3 .section3-part1 .rigth-container .container-reservation form button:hover {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.433);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.433);
}

.section4 {
  padding: 50px 20px 90px;
  color: black;
}
.section4 .section4-container {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  .section4 .section4-container {
    display: none;
  }
}
.section4 .section4-container h4 {
  font-size: 2.5rem;
  color: rgb(166, 144, 69);
  font-family: Allura, cursive;
  font-weight: 100;
}
.section4 .section4-container h2 {
  letter-spacing: 2px;
  font-size: 2rem;
  color: #eee;
  margin-top: -12px;
  font-family: Poppins, serif;
}
.section4 .section4-container span img {
  margin: 30px 0;
}
.section4 .section4-container .event-day {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "a b" "c b";
}
.section4 .section4-container .event-day h6 {
  font-size: 1.7rem;
}
.section4 .section4-container .event-day .date-news {
  background: #eee;
  padding: 20px 0;
}
.section4 .section4-container .event-day .date-news h3 {
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 8px;
}
.section4 .section4-container .event-day .date-news p {
  font-size: 0.7rem;
  color: rgb(182, 182, 182);
  margin-top: 20px;
  letter-spacing: 1px;
}
.section4 .section4-container .event-day .date-news p i {
  margin: 0 3px;
  font-size: 0.7rem;
  -webkit-transform: translate(-2px);
          transform: translate(-2px);
}
.section4 .section4-container .event-day .date-news p i:nth-child(2) {
  margin-left: 10px;
}
.section4 .section4-container .event-day .date-news a {
  letter-spacing: 2px;
  color: #21201e;
  margin-top: 25px;
  display: block;
  font-size: 0.9rem;
}
.section4 .section4-container .event-day .event-left .date .day-month, .section4 .section4-container .event-day .rigth-part .date .day-month {
  background: #21201e;
  height: 56px;
  width: 56px;
  margin: 0 auto;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 22px;
}
.section4 .section4-container .event-day .event-left {
  display: grid;
  grid-template-columns: 39% 61%;
}
.section4 .section4-container .event-day .left-part1 {
  grid-area: a;
}
.section4 .section4-container .event-day .left-part1 .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/event-01.jpg) center/cover;
}
.section4 .section4-container .event-day .left-part2 {
  grid-area: c;
}
.section4 .section4-container .event-day .left-part2 .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/event-02.jpg) center/cover;
}
.section4 .section4-container .event-day .rigth-part {
  grid-area: b;
  background: url(../img/event-03.jpg) center/cover;
  padding: 20px;
}
.section4 .section4-container .event-day .rigth-part .ticket-content {
  background: #eee;
  height: 100%;
}

.section5 {
  padding: 70px 0 230px;
  position: relative;
  color: gray;
}
.section5:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 350px;
  background: url(../img/gmap.jpg) center/cover;
  left: 0;
  bottom: 0;
}
.section5 .ceo {
  background: #eee;
  z-index: 3;
  position: relative;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 65px 70px;
  -webkit-box-shadow: 0 0 3px #333;
          box-shadow: 0 0 3px #333;
}
.section5 .ceo::before {
  content: "";
  position: absolute;
  background: url(../img/avatar-02.jpg) center/cover;
  height: 40px;
  width: 60px;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50px;
}
.section5 .ceo .text-ceo {
  line-height: 30px;
}
.section5 .ceo .text-ceo:before {
  content: "❝";
}
.section5 .ceo .text-ceo:after {
  content: "❞";
}
.section5 .ceo .text-ceo:before, .section5 .ceo .text-ceo:after {
  font-size: 1.5rem;
}
.section5 .ceo h3 {
  margin: 30px 0 15px;
  font-family: Roboto, serif;
  font-weight: 100;
}
.section5 .ceo h5 {
  color: rgb(182, 182, 182);
}/*# sourceMappingURL=index.css.map */