.section3{
    padding: 100px 15px 65px; 
    color: $white;

    .section3-part1{
        display: grid;
        grid-template-columns: 30% 70%;
        background-color: $white;
        max-width: 1850px;
        margin: 0 auto;

        @media screen and (max-width:850px){
            grid-template-columns: 1fr;
         }

        .left-container{
            padding: 24px;
            background: black;

            .open-time{
                border: 1px dashed $grey;
                padding: 20px 0;

                h4{
                    font-family: $font1;
                    font-size: 2.5rem;
                    font-weight: 100;
                    color: $color1;
                }
                h2{
                    font-family: $font2;
                    margin-top: -16px;
                    letter-spacing: 2px;
                    font-size: 1.3rem;
                }
                span{
                    img{
                        margin-top: 25px;
                    }
                }
                h3{
                    text-transform: uppercase;
                    color: $color1;
                    font-family: $font2;
                    font-weight: 100;
                    font-size: 1.1rem;
                    margin: 38px 0 12px;
                }
                p{
                    font-size: 0.85rem;
                    width: 90%;
                }
            }
        }
        .rigth-container{
            @include childCenter;
            padding: 30px 0;

            .container-reservation{
    

                h4{
                    font-family: $font1;
                    color: $color1;
                    font-size: 2.5rem;
                    font-weight: 100;
                }
                h2{
                    font-family: $font2;
                    color: $black;
                    font-size: 1.8rem;
                    margin-top: -18px;
                }
                img{
                    height: 25px;
                    margin: 25px;
                }
                form{
                    .form-inputs{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        margin-bottom: 20px;

                        @media screen and (max-width:680px){
                            grid-template-columns: 1fr;
                         }
    
                        > * {
                            padding: 10px 0;
                            margin: 10px;
                            background: none;
                            outline: none;
                            border: none;
                            border-bottom: 1px solid $grey;
                        }
                    }

                    button{
                        border: none;
                        border-radius: 50px;
                        background-color: $black;
                        color: $white;
                        padding: 16px 34px;
                        letter-spacing: 4px;
                        font-weight: 700;
                        cursor: ponter;
                        transition: 0.2s;

                        @media screen and (max-width:680px){
                            padding: 5px 15px;
                            font-size: 0.6rem;
                         }

                        &:hover{
                            transform: translateX(3px);
                            box-shadow: 0 2px 4px rgba(0,0,0,0.433);
                        }
                    }
                }
               

            }

        }
    }
}